// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.imgblock{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 980px;
  list-style-type: none;
  align-items: flex-start;

  > li {
    max-width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);

    > a {
      display: block;

      > img {
        width: 100%;
      }
    }
  }

  p {
    background: #fff;
    padding: .5em;
    font-size: 1rem;
  }
}
