// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.imgblock{
  // display: flex;
  // justify-content: space-between;
  // flex-wrap: wrap;
  //   align-items: flex-start;
  max-width: 1280px;
  list-style-type: none;

  > li {
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: .5em .5em;

    > a {
      display: block;

      &:hover{
        opacity: 0.6;
        text-decoration: none;
      }

      > img {
        width: 100%;
      }
    }
  }

  p {
    background: #fff;
    padding: 1em .5em .5em;
    font-size: 1.4rem;
    display: block;
  }
}

nav.pagination {
  display: none;
}